
:root {
    --hover-color: #4f88ff;
}

body{
    animation: 3.14159265359s ease 1 changeOpacity;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    font-weight: normal;
    background-color: #1b1b1c;
    background-image: url("Image/background.jpg");
    color: #dedede;
    line-height: 2em;
    font-size: larger;
    padding-top: 4rem;
    text-align: center;
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.default{
    padding: 0;
}

.topnav{
    background: rgb(36,36,36);
    background: radial-gradient(circle, rgba(36,36,36,1) 35%, rgba(15,15,15,1) 92%);
    text-decoration: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

section > p{
    padding-left: 10em;
    padding-right: 10em;
}

li{
    display: inline;
    padding: 2em;
}

ul li a{
    font-size: large;
    text-transform: uppercase;
    padding: 0.6rem 0.6rem;
}

ul li a:hover{
    background-color: #6c6c6c80;
    border-radius: 0.4em;
}

.itemStyle {
    text-decoration: none;
    color: #fff6f6;
}

.topbar{
    padding: 0.1rem;
    background-color: #262626;
    text-align: center;
}

.footer{
    background-color: #151515;
    padding: 5em;
    bottom: 0;
}

#active{
    background-color: #6d7079;
    border-radius: 0.4em;
    box-shadow: #4f88ff 0 0 0.5em;
}

.header{
    text-align: center;
}

.linkInText{
    color: #5d5d5d;
}

.btn{
    background-color: #4f88ff;
    border-radius: 1.5em;

    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
}

.btn > p{
    transform: rotate(90deg);
}

.floatingImage{
    width: 25em;
    height: 15em;
}

img{
    transition: all 0.314159265359s ease;
}

video{
    transition: all 0.314159265359s ease;
}

img:hover{
    box-shadow: #4f88ff 0 0 2.5em;
}

video:hover{
    box-shadow: #4f88ff 0 0 2.5em;
}

.fitImageSize{
    line-height: 5em;
}

.sideBarIMG{
    float: right;
    width: 10em;
    height: 10em;
}
