
body{
    font-family: "Inter";
    margin: 0%;
    padding: 0%;
    font-weight: normal;
    background-color: #2a333e;
    color: #fff6f6;
    line-height: 2em;
    font-size: larger;
    padding-top: 4rem;
}

.default{
    padding: 0;
}

.topnav{
    background-color: #212836;
    text-decoration: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

section > p{
    padding-left: 20em;
}

li{
    display: inline;
    padding: 2em;
}

ul li a{
    font-size: large;
    text-transform: uppercase;
    padding: 0.6rem 0.6rem;
}

ul li a:hover{
    background-color: #4db7ef;
    border-radius: 0.4em;
}

.itemStyle {
    text-decoration: none;
    color: #fff6f6;
}

.topbar{
    padding: 0.1rem;
    background-color: #3a4757;
    text-align: center;
}

.footer{
    background-color: #7ab4ff;
    padding: 5em;
}

#active{
    background-color: #4db7ef;
    border-radius: 0.4em;
}

.header{
    text-align: center;
}

.linkInText{
    color: #7ab4ff;
}

.floatingImage{
    float: right;
    width: 25em;
    height: 15em;
    padding-right: 10em;
}

.fitImageSize{
    line-height: 5em;
}

.sideBarIMG{
    float: right;
    width: 10em;
    height: 10em;
}

.flexImages{
    display: flex;
    flex-direction: column;
    float:right;
    padding-right: 10rem
}

.fitFlex{
    line-height: 8em;
}